body {
  margin: 0;
  padding: 0;
  color: #fff;
  background-image: url("https://wallpaperaccess.com/full/829012.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  max-width: 1140px;
  width: 100%;
  margin: 200px auto;
  padding: 0 auto;
  box-sizing: border-box;
}
.wrapper__body {
  background-color: black;
  box-shadow: 7px 7px 10px  #0a83b7;
  width: 350px;
  height: 500px;
  border-radius: 10px;
  opacity:0.9;
}
.wrapper {
  width: 400px;
  margin: 0 auto;
  
}
.wrapper__spage{
    padding-top: 20px;
    background-color: #000000;
    border-radius: 10px;
    width: 320px;
    height: 80px;
    font-size: 40px;
    overflow: hidden;
    align-items: end; 
    text-align: right;
    padding-right: 30px;
    
}
.wrapper__content{
    width: 335px;
    margin:0 auto;
}
button {
  width: 75px;
  height: 75px;
  border-radius: 50px;
  font-size: 35px;
  border: none;
  margin: 2px;
}

.btn {
  background-color: #ff9207;
  color: #ffffff;
}


button:active{
    background-color: #6e5a5a;
    box-shadow: inset;
    transform: scale(1.05);

}
.btn:active{
    background-color: #dfa963;
}